ul.footer-nav.footer-nav-inline.socials
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/flyernewmedia/', title='Flyer new media on Facebook')
      i.icon-facebook-squared
      .sr-only Facebook
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://plus.google.com/112653406015548631422', title='Flyer new media on Google Plus')
      i.icon-gplus-squared
      .sr-only Google+
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.youtube.com/UCUo0JOwLhDgHAJkQl1tVa8w', title='Flyer new media on YouTube')
      i.icon-youtube
      .sr-only You Tube
