ul.footer-nav.footer-nav-inline.socials
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/flyercommunication/', title='Flyer communication on Facebook')
      i.icon-facebook-official
      .sr-only Facebook
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://plus.google.com/112653406015548631422', title='Flyer communication on Google Plus')
      i.icon-gplus-squared
      .sr-only Google+
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.youtube.com/channel/UCUo0JOwLhDgHAJkQl1tVa8w', title='Flyer communication on YouTube')
      i.icon-youtube-squared
      .sr-only You Tube
