extends layout
block content
  article(itemscope, itemtype='http://schema.org/'+itemtype)
    header.row
      .col-xs-9
        h1.entry-title(itemprop="name")=result.post_title
      .col-xs-3
        .pull-right
          include ../_common/inc_share_span
    !=result.post_content
