span(itemprop='location', itemscope='', itemtype='http://schema.org/Place')
  span(itemprop='address') Flyer new media
  span(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
    span(itemprop='streetAddress') Via del Verano 39
    br
    span(itemprop='postalCode') 00185
    span(itemprop='addressLocality') Rome
    span(itemprop='addressCountry') Italy
  br
  span.hide(itemprop='geo', itemscope='', itemtype='http://schema.org/GeoCoordinates')
    span(itemprop='latitude') 41.899316
    | ,
    span(itemprop='longitude') 12.520403
  a(itemprop='url', title=global.__('map'), href='https://www.google.com/maps/place/Flyer+Communication+Srl/@41.899316,12.520403,963m/data=!3m2!1e3!4b1!4m2!3m1!1s0x132f618364bd1e11:0x4bbf08536c8fc4c9?hl=en', target='_blank') map
  br