if result.data_month
  .text-muted
    .dates
      .dateheadline(itemprop="headline")
        i.icon-calendar-check-o
        !=" "
        !=result.data_month+" "
      if (result.post_type=="lab")
        meta(itemprop="foundingDate", content=result.datePublished)
      else
        meta(itemprop="datePublished", content=result.datePublished)
      if (result.post_type=="news")
        meta(itemprop="dateModified", content=result.dateModified)