if meta_data.editions[meta_data.current_edition].startdateHR || meta_data.editions[meta_data.current_edition].enddateHR || meta_data.editions[meta_data.current_edition].data_evento
  .dates
    span.sr-only
      if meta_data.editions[meta_data.current_edition].startdateHR
        span(itemprop='startDate', content=meta_data.editions[meta_data.current_edition].startdateISO)=meta_data.editions[meta_data.current_edition].startdateHR
        !=" | "
      if meta_data.editions[meta_data.current_edition].enddateHR
        span(itemprop='endDate', content=meta_data.editions[meta_data.current_edition].enddateISO)=meta_data.editions[meta_data.current_edition].enddateHR
    if meta_data.editions[meta_data.current_edition].data_evento
      .date=meta_data.editions[meta_data.current_edition].data_evento