if posttype.tags
  p.tags
    each tag, index in posttype.tags
      a(href=lang_preurl + '/'+baseurl+'/tags/' + tag.slug + "/", title=tag.name)
        span.tagandcount!="#" + tag.name + " (" + tag.count + ")"
      if index + 1 < posttype.tags.length
        !=" · "
