
if meta_data.edition.startdateHR || meta_data.edition.enddateHR || meta_data.edition.data_evento
   .dates
       include inc_eventdate_meta
if meta_data.edition['wpcf-location']
   .places
       include inc_place_meta
