if result.data_month
  .text-muted
    .dates
      .dateheadline=result.data_month+" "
      meta(itemprop="datePublished", content=result.datePublished)
      if (result.post_type=="news")
        meta(itemprop="dateModified", content=result.dateModified)