if (results._paging && results._paging.totalPages)
  .text-center.read-more
    - var nextpage = (page ? parseInt(page) + 1 : 2)
    - console.log(nextpage);
    if (nextpage <= results._paging.totalPages)
      a(href=(lang_preurl ? lang_preurl : '') + '/'+baseurl+'/page/' + nextpage)
        !=global.__("Load More")
        !=" "
        i.icon-right
      span.loading
        i.icon-spin3.animate-spin
        span.sr-only=" Loading..."
    else
      .end=global.__("You reached the end")