.modal.modal-fullscreen.fade#searchModal(tabindex='-1', role='dialog', aria-labelledby='searchModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#searchModalLabel.modal-title=global.__("Search")
      .modal-body
        form(action=lang_preurl+'/search/', method='get')
          .input-group.input-group-lg
            input.form-control(type='text', placeholder=global.__("Search"), name='q', autocomplete='off')
            .input-group-btn
              button.btn.btn-default(type='submit', name='sa')
                i.glyphicon.glyphicon-search
                !=" " + global.__("Search")
          input(type='hidden', name='cx', value=meta_data.meta.google_search)
          input(type='hidden', name='cof', value='FORID:10')
          input(type='hidden', name='ie', value='UTF-8')
