body {background-color:#D11E64; color:#333333; background-repeat:no-repeat;background-position: center 206px;}
.entry-title, .grid-title{color:#FFF; background-color:#72263D;padding:5px 10px;}
.rientro{background: rgba(255,255,255,.8);margin-bottom:20px;}
