body {background-color:#000000; color:#333333; background-repeat:no-repeat; background-position:center 53px;background-image: url("_images/fondo.jpg");}
.entry-title, .grid-title{color:#FFF; background-color:#000000;}
h1 a{color:#FFF;}
#logo{margin:105px 0 0 95px;padding:0px;}
#site-description {max-width: 240px;float: right;}
#next-edition{margin:10px 10px 125px 95px;padding:0px;}
h3{color:#FFF; background-color:#000000;}
@media (min-width: 1200px) {
  .container {width: 1010px;}
}