/*!
LPM 2018 Rome
*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background: rgba(0,0,0,1);
  color: #FFF;
}
.grid-title {
  background-color: #fe0002;
  padding: 5px 8px;
  letter-spacing: -1px;
}
/* .carousel-caption.full-link a:hover {
  background-image: url(/lpm/images/slider/LPM2018-main-call_over.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
.home h1 {
    text-transform: uppercase;
    color: #fe0002;
}