@import url('http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic');
body,h1,h2,h3,h4,h5,h6{font-family: 'Libre Baskerville', serif;}
body {background-color:#bbbbc8; background-repeat:no-repeat; background-position: center 206px;}
.entry-title, .grid-title{color:#FFF; background-color:#000;padding:5px 10px;}
.rientro{background: rgba(255,255,255,.8);margin-bottom:20px;}

