/*!
LPM 2018 Rome
*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

body {
    font-family: 'Work Sans', sans-serif;
    background: rgba(255,255,0,1);
    background: -moz-linear-gradient(45deg, rgba(255,255,0,1) 0%, rgba(0,255,0,1) 51%, rgba(0,255,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,0,1)), color-stop(51%, rgba(0,255,0,1)), color-stop(100%, rgba(0,255,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,255,0,1) 0%, rgba(0,255,0,1) 51%, rgba(0,255,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,255,0,1) 0%, rgba(0,255,0,1) 51%, rgba(0,255,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,255,0,1) 0%, rgba(0,255,0,1) 51%, rgba(0,255,255,1) 100%);
    background: linear-gradient(45deg, rgba(255,255,0,1) 0%, rgba(0,255,0,1) 51%, rgba(0,255,255,1) 100%);
}
#site-description {
    font-size: 18px;
    letter-spacing: -1px;
    color: #000;
}
#next-edition{
    font-size: 22px;
    color: #000;
}
#next-edition small{
    color: #999;
}