body {background-color:#000; background-repeat:repeat-y; background-size: cover; background-attachment: fixed;}
.rientro,.box-list{background: rgba(255,255,255,.8);}
#site-description {font-size: 18px;letter-spacing: -1px;text-shadow: 2px 0px 7px rgba(255, 255, 255, 0.8);color: #FFF;}
#next-edition{font-size: 22px;text-shadow: 0px 0px 11px rgba(255, 255, 255, 0.8);color: #FFF;}
#next-edition small{color: #999;}
/* body {background-color:#000; background-repeat:repeat-y; background-size: cover; background-attachment: fixed;}
h1.entry-title a{color:#FFF;}
#logo a {display: block; }
#logo {padding:0px;margin:0 0 10px 0;}
#logo img {
  max-width: 250px;
  margin-bottom: 30px;
}
#site-description {font-size: 18px;letter-spacing: -1px;text-shadow: 2px 0px 7px rgba(255, 255, 255, 0.8);color: #FFF;}
#next-edition{font-size: 22px;text-shadow: 0px 0px 11px rgba(255, 255, 255, 0.8);color: #FFF;}
#next-edition small{color: #999;}
article{position: relative;display: block;}
.rientro,.box-list{background: rgba(255,255,255,.8);}
#content{z-index: 3;position: relative;} 

.navbar {
margin-bottom: 0;
}
footer.navbar-inverse .navbar-inner {
background-color: #333;
}
.partners .stit {background-color: rgba(255,137,61,.6);display: inline-block;padding: 0 3px;}
.event_list_title{background: none; padding:0; color: inherit;}

/* GALLERY COLORS 
.galleryItem{background-color:#1abc9c;} 
.gallTit{color:#FFF;}
.gallStit{color:#000;}
.galleryCnt{background-color:#1abc9c ;}
#gallery a:hover{background-color:#1abc9c ;color:#FFF;}
.caption-soldout{
	background-color:#1abc9c;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #333;
}

GALLERY COLORS END*/

/*
.container-fluid, .container {padding-top: 20px;}
*/