extends layout
block content
  .container-fluid
    article#container(itemscope, itemtype='http://schema.org/ItemList')
      .row
        .col-xl-6.col-xl-offset-3.col-lg-8.col-lg-offset-2.col-xs-12
          .header
            header
              .text-center
                h1.entry-title=global.__("Live Visuals")
                p!=posttype.description
            aside
              p.text-center
                each tag in posttype.tags
                  a(href=(config.current_lang == 'it' ? '/it' : '') + '/portfolio/live-visuals/tags/' + tag.slug+"/")
                    span.tagandcount!=tag.name + " (" + tag.count + ")"
                  !=" · "
                  - console.log(tag)
            .text-center
              include inc_share
      if data
        .row.isotope
          each box in data
            .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.isotopeitem(itemscope='', itemprop='itemListElement')
              include boxes/box_event
      if data && data._paging
        .text-center.read-more
          if (page+1 <= data._paging.totalPages)
            a(href=(config.current_lang == 'it' ? '/it' : '') + '/portfolio/live-visuals/page/'+(parseInt(page)+1))
              !=global.__("Load more")
              !=" "
              span.fa.fa-long-arrow-right
            span.loading Loading...
          else
            .end=global.__("You reached the end")