ul.nav.nav-pills.nav-stacked
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='https://www.facebook.com/flyercommunication/', title='Flyer communication on Facebook')
            span.glyphicon.glyphicon-star
            |  Facebook
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='https://plus.google.com/112653406015548631422', title='Flyer communication on Google Plus')
            span.glyphicon.glyphicon-star
            |  Google+
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='https://www.youtube.com/channel/UCUo0JOwLhDgHAJkQl1tVa8w', title='Flyer communication on YouTube')
            span.glyphicon.glyphicon-star
            |  You Tube
