extends layout
block content
	.container-fluid
		article#container(itemscope, itemtype='http://schema.org/ListItem')
			h1=title
			br
			include inc_share
			.row.isotope
				each box in data
					.col-lg-3.col-md-4.col-sm-6.col.isotopeitem(itemscope='', itemtype='http://schema.org/itemListElement')
						include boxes/box_user