extends layout
block content
  .container
    article.pagepaddingtop#container(itemscope, itemtype='http://schema.org/CreativeWork')
      .row
        .col-sm-8
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src=result.video_thumbnail ,webkitAllowFullScreen="webkitAllowFullScreen", mozallowfullscreen="mozallowfullscreen", allowFullScreen="allowFullScreen")
          br
          .hidden-xs(itemprop='description')!=result.post_content
          include ../_common/inc_videos
        .col-sm-4
          header
            h1.entry-title(itemprop='name')!=result.post_title
          include ../_common/inc_type_hidden
          include ../_common/inc_datemonth
          .visible-xs!=result.post_content
          include ../_common/inc_websites
          include ../_common/inc_capauthors
          include ../_common/inc_share

      include ../_common/inc_grid