extends layout
block content
  article#container(itemprop="owns", itemscope, itemtype='http://schema.org/ItemList')
    .row
      .col-xs-10
        h1.entry-title(itemprop="name")=posttype.post_title
        p(itemprop="description")!=posttype.post_content
      .col-xs-2
        .pull-right
          include ../_common/inc_share_span
    .row.isotope.results
      each result, position in results
        .col-md-4.col-sm-6.col.isotopeitem
          include boxes/box_event
    include ../_common/inc_pagination