extends layout
block content
  article.Subpage(itemprop="sponsor", itemscope, itemtype='http://schema.org/ItemList')
    header.row
      .col-xs-9
        h1(itemprop="name")=posttype.post_title
        small(itemprop="description")!=posttype.post_content
      .col-xs-3
        .pull-right
          include ../_common/inc_share
    #map-canvas(style="height:700px;margin-top:10px;")
    br
    script(type="text/javascript").
      var markers = !{JSON.stringify(markers)};
    script(type="text/javascript", src='/' + config.prefix + '/js/map.min.js')
    .row.isotope.results
      each result, position in results
        - console.log(result)
        .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.isotopeitem
          include boxes/box_user