ul.footer-nav.footer-nav-inline
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/groups/linuxclub/', title='Linux club italia on Facebook')
      i.icon-facebook-official
      .sr-only Facebook
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://plus.google.com/116749556211944957006', title='Linux club italia on Google Plus')
      i.icon-gplus-squared
      .sr-only Google+