.boxItem(itemscope, itemtype='http://schema.org/itemListElement')
  .Video(itemscope, itemtype='http://schema.org/CreativeWork')
    .thumb-cnt
      //a.ajaxloader(itemprop='url', href='/extra/' + box.slug + "/", rel='bookmark', title!=box.post_title)
        img.img-responsive(src=box.video.thumb, alt!='Image for: ' + box.post_title, itemprop='image', itemscope, itemtype='https://schema.org/ImageObject')
      - console.log(box.video.thumb)
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src=box.video_thumbnail ,webkitAllowFullScreen="webkitAllowFullScreen", mozallowfullscreen="mozallowfullscreen", allowFullScreen="allowFullScreen")