.boxItem(itemscope='', itemtype='http://schema.org/itemListElement')
  .Video(itemscope='', itemtype='http://schema.org/CreativeWork')
    .thumb-cnt
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src=box.video_thumbnail ,webkitAllowFullScreen="webkitAllowFullScreen", mozallowfullscreen="mozallowfullscreen", allowFullScreen="allowFullScreen")