div(itemprop=itemprop, itemscope='', itemtype='http://schema.org/Person')
  .row
    .col-sm-4
      a.ajaxloader(itemprop='url', href='/'+author_base+'/'+box.data.user_nicename+'/', rel='bookmark', title='Logo: '+box.data.display_name)
        img.img-responsive(alt='Logo: '+box.data.display_name, itemprop="image", itemscope, itemtype='https://schema.org/ImageObject', src=box.data.img)
    .col-sm-8
      h5.media-heading
        a.ajaxloader(itemprop='url', href='/'+author_base+'/'+box.data.user_nicename+'/')
          span(itemprop='name')=box.data.display_name
      p(itemprop='jobTitle')
        i=box.data.role
        p
          each auth_content in box.data.auth_contents
            if auth_content.posts
              !=(auth_content["labels"]["name"] == "Events" ? "Live Visuals" : auth_content["labels"]["name"])+": "+auth_content.posts
              br
  hr
