div(itemprop='employee', itemscope='', itemtype='http://schema.org/Person')
  .row
    .col-sm-4
      a.ajaxloader(itemprop='url', href='/'+author_base+'/'+box.data.user_nicename+'/', rel='bookmark', title='Logo: '+box.data.display_name)
        img.img-responsive(alt='Logo: '+box.data.display_name, itemprop="image", src=box.data.img)
    .col-sm-8
      h5.media-heading
        a.ajaxloader(itemprop='name', href='/'+author_base+'/'+box.data.user_nicename+'/')=box.data.display_name
      p(itemprop='jobTitle')
        i=box.data.role
        p
          each auth_content in box.data.auth_contents
            if auth_content.posts.posts.length
              !=auth_content["labels"]["name"]+": "+auth_content.posts.posts.length
              br
  hr
