ul.footer-nav.footer-nav-inline
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/shockart.net/', title='Shockart.net on Facebook')
      i.fa.fa-facebook-square
      .sr-only Facebook
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://plus.google.com/+ShockartNet', title='Shockart.net on Google Plus')
      i.fa.fa-google-plus-square
      .sr-only Google+