*{border-radius:0 !important;-moz-border-radius:0 !important;-webkit-border-radius:0 !important}

.logofooter{margin:-35px 0 -20px -18px}

footer .logofooter a:link,footer .logofooter a:visited,footer .logofooter a:active{color:#ccc !important;font-size:80px}

footer .logofooter a:hover{color:#fff !important}

.entry-title,.grid-title{margin-top:0}

.navbar-brand{padding:8px 4px;font-size:34px;line-height:0}

ul.lists{margin:0;padding:0;list-style:none}

.itemListElement{position:relative;margin-bottom:20px;overflow:hidden}

.itemListElement .media{margin-bottom:10px}

.caption{position:absolute;pointer-events:none;color:#fff;left:0;top:0;bottom:0;right:0;bottom:0;overflow:hidden}

.caption-time{background:rgba(255,255,255,0.5);color:#000;padding:5px 10px;display:inline-block;font-size:10px}

.caption-body{position:absolute;bottom:0;padding:10px;text-shadow:0 2px 4px #000}

.caption-type{position:absolute;-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);right:-200px;top:0;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);-webkit-transform-origin:top left;-moz-transform-origin:top left;-o-transform-origin:top left;-ms-transform-origin:top left;transform-origin:top left;width:200px}

.caption-title{font-size:21px;margin-top:0}

.caption-location,.caption-location b{font-weight:normal}

.caption-location-block{font-size:10px;display:block}

.caption-type-cnt{position:relative;display:inline-block;background:rgba(255,255,255,0.5);color:#000;padding:5px 10px;font-size:15px;text-transform:uppercase}

.caption-soldout{position:absolute;-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);right:-82px;top:-19px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform-origin:top left;-moz-transform-origin:top left;-o-transform-origin:top left;-ms-transform-origin:top left;transform-origin:top left;width:200px;text-align:center;background-color:#f00;font-weight:bold;z-index:1;font-size:20px}

.lists .media-heading,#listItems .media-heading{font-size:15px}

.row.partners .col-md-5,.row.gallery .col-md-5{margin-right:-15px}

.row.partners{margin-bottom:15px}

.row.partners .stit{font-size:11px}

#listItems{padding:0;list-style:none}

.cntGallImgOver{position:relative}

.cntGallImgOver{vertical-align:bottom}

.cntGallImgDett{background-color:#000;text-align:center;margin-bottom:30px}

.cntGallImgImg{position:relative;display:inline;max-width:100%}

.thumbnails{padding:0;list-style:none}

.gallType{position:absolute;right:0;bottom:0}

.thumbnail{display:block;padding:5px;line-height:20px;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}

.thumbnail .cntDida{text-align:center;height:25px;padding-top:5px;display:block;overflow:hidden}

a.thumbnail:hover{-webkit-box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}

.boxItem{position:relative;margin-bottom:30px}

a:hover img{opacity:.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60)}

.boxItem a:hover{text-decoration:none}

.box-list{padding:15px}

.News .box-list{padding:10px}

.Event .supText{font-size:11px}

.Event .list_title{margin-top:10px;font-size:20px;color:#fff}

.Event:hover .box-list{opacity:1;-ms-filter:none;filter:none}

.Event .box-list{padding:0;pointer-events:none;position:absolute;top:0;background-color:#333;height:100%;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);width:100%;overflow:hidden;-webkit-transition:opacity .3s ease-out;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;-ms-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out}

.Event .box-list .text-center{padding:30px}

.Event .read-more-box{bottom:0;position:absolute;width:100%;text-align:center;background-color:#333;padding-bottom:16px;font-size:20px;color:#fff}

@media (min-width: 768px){
	.pulsa{text-align:right}
}

