ul.footer-nav
  li
    a(href='/idea/') Idea
  li
    a(href='/timeline/') Timeline
  li
    a(href='/map/') Map
  li
    a(href='/gallery/') Gallery
  li
    a(href='/editions/') Editions
  li
    a(href='/the-app/') The App
  li
    a(href='/press/') Press
  li
    a(href='/contacts/') Contacts