ul.footer-nav.footer-nav-inline.socials
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/LPM.LivePerformersMeeting/', title='LPM on Facebook')
      i.icon-facebook-squared
      .sr-only Facebook
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/groups/liveperformersmeeting/', title='LPM Group on Facebook')
      i.icon-facebook-squared(style="position: relative;")
        sup(style="top: 12px;display: block;left: 10px;color: #222222;position: absolute;font-size:9px;font-style: normal;") G
      .sr-only Facebook Group
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.instagram.com/liveperformersmeeting/', title='LPM on Instagram')
      i.icon-instagram
        .sr-only Instagram
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://twitter.com/liveperformers', title='LPM on Twitter')
      i.icon-twitter
      .sr-only Twitter
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://vimeo.com/lpm', title='LPM on Vimeo')
      i.icon-vimeo-squared
      .sr-only Vimeo
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://plus.google.com/+Liveperformersmeeting', title='LPM on Google Plus')
      i.icon-gplus-squared
      .sr-only Google+
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.youtube.com/LPMvideoreport', title='LPM on YouTube')
      i.icon-youtube-squared
      .sr-only You Tube
//
        a(href='http://flxer.net', title='FLxER network', target='_blank')
          img(alt='FLxER network icon', src='/' + config.prefix + '/images/glyphicons_social/png/glyphicons_social_50_flxer.png')
        a(href='http://twitter.com/liveperformers', title='Twitter Profile', target='_blank')
          img(alt='Twitter Profile icon', src='/' + config.prefix + '/images/glyphicons_social/png/glyphicons_social_31_twitter.png')
        a(href='http://www.facebook.com/LPM.LivePerformersMeeting', title='Facebook Page', target='_blank')
          img(alt='Facebook Page icon', src='/' + config.prefix + '/images/glyphicons_social/png/glyphicons_social_30_facebook.png')
        a(href='http://www.facebook.com/group.php?gid=10387985422', title='Facebook Group', target='_blank')
          img(alt='Facebook Group icon', src='/' + config.prefix + '/images/glyphicons_social/png/glyphicons_social_51_facebook_group.png')
        a(href='http://vimeo.com/lpm', title='Vimeo', target='_blank')
          img(alt='Vimeo icon', src='/' + config.prefix + '/images/glyphicons_social/png/glyphicons_social_34_vimeo.png')
        a(href='https://plus.google.com/+Liveperformersmeeting', title='Google Plus', target='_blank', rel='publisher')
          img(alt='Google Plus icon', src='/' + config.prefix + '/images/glyphicons_social/png/glyphicons_social_02_google_plus.png')
        a(href='http://www.youtube.com/LPMvideoreport', title='YouTube', target='_blank')
          img(alt='YouTube icon', src='/' + config.prefix + '/images/glyphicons_social/png/glyphicons_social_22_youtube.png')
        a(href='http://apps.facebook.com/lpmgallery', title='Facebook App', target='_blank')
          img(alt='Facebook App icon', src='/' + config.prefix + '/images/glyphicons_social/png/glyphicons_social_52_facebook_app.png')
        a(href='/feed', title='RSS Feed', target='_blank')
          img(alt='RSS Feed icon', src='/' + config.prefix + '/images/glyphicons_social/png/glyphicons_social_37_rss.png')
        