div(class="rowTimeline rowTimeline-"+result.post_type, itemscope, itemprop="itemListElement", itemtype='http://schema.org/Event')
  .row
    div(class="col-sm-"+(result.post_type=="editions" ? 3 :4))
      .timelineDate
        .dates
          include ../../_common/inc_eventdate
          meta(itemprop="position" content=position+1)
        .places
          if result['wpcf-location']
            include ../../_common/inc_place
    div(class="col-sm-"+(result.post_type=="editions" ? 4 :2))
      a(itemprop='contentUrl', href='/'+result.post_type+'/' + result.slug+'/', rel='bookmark', title!=result.post_title)
        if result.featured
          img.img-responsive(src=result.featured.thumbnail, alt!='Image for: ' + result.post_title, itemprop='url')
    div(class="col-sm-"+(result.post_type=="editions" ? 3 :4))
      h2.timelineTitle(itemprop='name')
        a(itemprop='url', href='/'+result.post_type+'/' + result.slug+'/', rel='bookmark', title=result.post_title)!=result.post_title
      .text-muted.small
        //.catlabel=result.post_type
        p!=result.excerpt.rendered
    .col-sm-2
      //include ../inc_staticmap