ul.footer-nav.footer-nav-inline
  li
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/chromosphere.eu', title='Chromosphere on Facebook')
      i.icon-facebook-squared
      .sr-only Facebook