body {background-color:#000; background-repeat:repeat-y; background-size: cover; background-attachment: fixed;}
.rientro,.box-list{background: rgba(255,255,255,.8);}
#site-description {font-size: 18px;letter-spacing: -1px;text-shadow: 2px 0px 7px rgba(255, 255, 255, 0.8);color: #FFF;}
#next-edition{font-size: 22px;text-shadow: 0px 0px 11px rgba(255, 255, 255, 0.8);color: #FFF;}
#next-edition small{color: #999;}