body {background-color:#000;}
.container-fluid, .container {background-color:#000; background-repeat:no-repeat; background-image: url(http://liveperformersmeeting.net/files/2015/01/2015-rome_bkg.jpg);background-position: center -150px;background-attachment: fixed;}
h1,.h1like{color:#FFF; background-color:#FF6103;padding: 3px 5px 0 10px;min-height: 44px; font-size:25px; line-height: 1.5em;margin-bottom: 0;}
h1 a{color:#FFF;}
#logo a {display: block; }
#logo {padding:0px;margin:0 0 10px 0;}
#site-description {font-size: 18px;letter-spacing: -1px;text-shadow: 2px 0px 7px rgba(255, 255, 255, 0.8);color: #FFF;}
#next-edition{font-size: 22px;text-shadow: 0px 0px 11px rgba(255, 255, 255, 0.8);color: #FFF;}
#next-edition small{color: #999;}
h3{background-color: #FF6103;color:#FFFFFF;padding: 10px 20px;}
article{position: relative;display: block;}
.rientro,.box-list{background: rgba(255,255,255,.8);}
#content{z-index: 3;position: relative;} /* used by wp user confirm */

.navbar {
margin-bottom: 0;
}
.container-fluid, .container {padding-top: 20px;}
footer.navbar-inverse .navbar-inner {
background-color: #333;
}
.partners .stit {background-color: rgba(255,97,3,.6);display: inline-block;padding: 0 3px;}
.event_list_title{background: none; padding:0; color: inherit;}

/* GALLERY COLORS */
.galleryItem{background-color:#FF6103;} 
.gallTit{color:#FFF;}
.gallStit{color:#000;}
.galleryCnt{background-color:#FF6103;}
.loading{background-color:#666666;}
#gallery a:hover{background-color:#FF6103;color:#FFF;}
/* GALLERY COLORS END*/

