@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
body,h1,h2,h3,h4,h5,h6{font-family: 'Libre Baskerville', serif;}
body {background-color:#bbbbc8; background-repeat:no-repeat; background-image: url(_images/fondo.jpg);}
h1,.h1like{color:#FFF; background-color:#000000;padding: 3px 5px 0 10px;height: 44px; font-size:25px; line-height: 1.5em;margin-bottom: 0;}
h1 a{color:#FFF;}
#logo a {display: block; top:-30px;left:-620px;position: absolute;z-index:0;}
#logo {padding:0px;margin:0; height: 120px}
#site-description {font-size: 18px;letter-spacing: -1px;}
#next-edition{font-size: 20px;}
#next-edition small{color: #999;}
h3{background-color: #000000;color:#FFFFFF;padding: 10px 20px;}
article{z-index: 1;position: relative;}
a:hover , a:focus,.current-menu-item a{color: #00B3EA;}
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
.rientro{background: rgba(255,255,255,.8);margin-bottom:20px;}
#content{z-index: 3;position: relative;} /* used by wp user confirm */


/* GALLERY COLORS */
.galleryItem{background-color:#000000;} 
.gallTit{color:#FFF;}
.gallStit{color:#000;}
.galleryCnt{background-color:#000000;}
#gallery a:hover{background-color:#000;color:#FFF;}
/* GALLERY COLORS END*/

