@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
body,h1,h2,h3,h4,h5,h3{font-family: 'Libre Baskerville', serif;}
body {background-color:#B5A6A1; background-repeat:no-repeat;background-image: url(_images/fondo.jpg);color:#4f4744;}
h1,.h1like{color:#FFF; background-color:#4D2837;padding: 0 5px 5px 10px; font-size: 2.3em; line-height: 1.5em;}
h1 a{color:#FFF;}
#logo a {display: block; top:-30px;left:-620px;position: absolute;z-index:0;}
#logo {padding:0px;margin:0; height: 120px}
#site-description {font-size: 18px;letter-spacing: -1px;margin-bottom: 25px;}
#next-edition{font-size: 22px;}
h3{background-color: #4D2837; color: #FFFFFF;}


