body {background-color:#F5EB00; color:#333333; background-repeat:no-repeat;}
h1,.h1like{color:#FFF; background-color:#000000;padding: 0 5px 5px 10px; font-size: 2.3em; line-height: 1.5em;}
h1 a{color:#FFF;}
h3{background-color: #000000; color: #FFFFFF;}
#logo img {max-width: none;}
@media (min-width: 992px) {
	#next-edition:after{clear:both;}
	#site-description{margin-bottom:100px;float:right;width:240px;}
}
#next-edition-cnt{clear:both;}
#site-description-cnt{clear:both;}

@media (max-width:767px){
	#logo{margin:57px 0 0 68px;}
}

@media (min-width:768px) and (max-width:991px){
	#logo{margin:9px 0 0 143px;}
}

@media (min-width:992px) and (max-width:1199px){
	#logo{margin:9px 0 0 253px;}
}

@media (min-width:1200px){
	#logo{margin:56px 0 0 354px;}
}
