@media (min-width: 768px){
  .navbar {
    border-radius: 0;
  }
  .navbar-inverse {
    background: none;
    border: none;
    z-index: 2;
  }
  #mainmenu{
    padding: 0;
  }
  .edgtf-expanding-icon-holder {
    display: none;
  }
  .edgtf-header-expanding .edgtf-expanding-icon-holder{
    margin-right:0;
    display: block;
  }
  .navbar-brand {
    padding: 0;
    height: 54px;
    width: 54px;
    overflow: hidden;
    background-color: #222;
  }
  .edgtf-header-expanding .navbar-brand{
    height: 84px;
    width: 84px;
  }
  .navbar-brand img{
    padding: 0;
    height: 54px;
    width: 54px;
  }
  .edgtf-header-expanding .navbar-brand img{
    padding: 0;
    height: 84px;
    width: 84px;
  }
  #mainmenu .menu-spacer-after {
    padding-right: 20px;
  }
  .edgtf-header-expanding .navbar-nav > li > a {
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .navbar-nav > li > a {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .navbar-nav > div > a {
    padding-top: 31px;
    padding-bottom: 31px;
    display: block;
  }
  .navbar-nav > div > a.edgtf-menu-appear,.navbar-nav > div > a.edgtf-menu-appear:hover ,.navbar-nav > div > a.edgtf-menu-appear:active {
    padding: 31px 33px;
    background-color: #222;
  }
  .menu-expand-bkg {
    width: 100%;
    height: 54px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    -webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
    background-color: #222;
  }
  .edgtf-header-expanding .menu-expand-bkg {
    width: 0;
    height: 84px;
  }
  .edgtf-header-expanding .border-right{
    border-right: 1px solid #9d9d9d;
  }
  .edgtf-opened .menu-expand-bkg {
    width: 100%;
  }

  .edgtf-header-expanding .menu-hide{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
  }
  .edgtf-opened .menu-hide {
    opacity: 1;
    visibility: visible;
  }

  .edgtf-header-expanding .edgtf-menu-appear .edgtf-expanding-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 13px;
    width: 18px;
  }

  .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: none;
  }
  .edgtf-header-expanding .edgtf-menu-appear .edgtf-line {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #303030;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
  }

  .edgtf-header-expanding .edgtf-menu-appear .edgtf-line:first-child {
    top: 0;
    transform-origin: 2px 1px;
  }

  .edgtf-header-expanding .edgtf-menu-appear .edgtf-line:last-child {
    top: 10px;
    transform-origin: 2px 1px;
  }

  .edgtf-header-expanding.edgtf-opened .edgtf-menu-appear .edgtf-line:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .edgtf-header-expanding.edgtf-opened .edgtf-menu-appear .edgtf-line:nth-child(2) {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  .edgtf-header-expanding.edgtf-opened .edgtf-menu-appear .edgtf-line:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .edgtf-line {
    background-color: #fff !important;
  }
}



.container-fluid > .navbar-header {
  margin-left: 15px;
}
#top-menu .container-fluid{
  padding: 0;
}
.edgtf-header-expanding .cnt{
  position: absolute;
  top:0;
}
  .edgtf-search-cover{
    position: absolute;
    width: 100%;
  }
  .edgtf-search-cover .edgtf-form-holder-outer {
    display: table;
    width: 100%;
  }
  .edgtf-search-cover .edgtf-form-holder {
    display: table-cell;
    padding: 16px 22px 0 22px;
    position: relative;
  }
  .edgtf-header-expanding .edgtf-search-cover .edgtf-form-holder {
    padding: 31px 45px 0 45px;
  }
  .edgtf-search-cover .edgtf-form-holder-inner {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  .edgtf-header-expanding .edgtf-search-opener {
    font-size: 19px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .edgtf-search-cover{
    margin: 0;
    padding: 0;
    background-color: #222;
    opacity: 0;
    -webkit-transition: -webkit-opacity .3s ease-out;
    transition: opacity .3s ease-out;
    visibility: hidden;
  }
  .edgtf-search-cover-opened{
    opacity: 1;
    visibility: visible;
  }
  .edgtf-header-expanding .edgtf-search-cover .edgtf-search-submit-holder {
	  padding: 30px 30px 29px 30px;
  }
  .edgtf-search-cover .edgtf-search-submit-holder {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 14px;
    border-right: 1px solid #9d9d9d;
    width: 54px;
  }
  .edgtf-search-cover button[type=submit] {
    padding: 0;
    border: none;
    background: 0 0;
    outline: 0;
    /*width: 54px;
    height: 54px;*/
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    transition: color .2s ease;
  }
  .edgtf-search-cover input, .edgtf-search-cover input:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    width: 90%;
    padding: 0;
    font-family: inherit;
    outline: 0;
    outline-offset: 0;
    -webkit-appearance: none;
    border-radius: 0;
    float: left;
    margin: 0;
  }

  .edgtf-search-cover .edgtf-search-close {
    font-size: 31px;
    /* position: absolute; */
    /* top: 50%; */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    /* transform: translateY(-50%); */
    line-height: 0.5em;
    color: #9d9d9d;
  }
  .edgtf-search-cover .edgtf-search-close:hover {
    text-decoration: none;
    color: #fff;
  }
