body{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}
@media (max-width: 767px) {
  .navbar-form {
    padding: 0 15px 10px 15px;
    border-top: none;
    -webkit-box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .sameheight{
    padding-bottom: 30px;
  }
  .sameheight:last-child{
    padding-bottom: 0;
  }
}
.sameheightinner .img-circle{
  width: 100px;
  background-color: #EEE;
}
body.fixed-top{
  padding-top: 54px;
}
body.expanding.fixed-top{
  padding-top: 0;
}

@media (min-width: 768px){
  .sameheightcnt{
    display: flex;
  }
  .sameheight{
    flex-grow: 0;
  }
  .sameheightinner{
    padding-bottom: 50px;
  }
  .sameheight .read-more.bottom {
    bottom: 0;
    position: absolute;
    left: 50%;
    margin-left: -62px;
    width: 124px;
    text-align: center;
  }
  /* CAROUSEL HACK FIT DESKTOP*/
  .carousel {
    max-height: 100vh;
    width: 100%;
    overflow:hidden;
  }
  .carousel .carousel-inner,.carousel .carousel-inner .item {
    height:100%;
  }

  .carousel .carousel-inner img {
    display:block;
    object-fit: cover;
  }
  .carousel-caption {
    bottom: 120px;
  }

  /* TOP MENU HACK DESKTOP*/
  #top-menu ul > li > a {
    overflow: hidden;
  }
  #top-menu ul > li > a > .flyer-item-inner {
    position: relative;
    display: inline-block;
    left: -20px;
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
  }
  #top-menu ul > li > a > .flyer-item-inner > i {
    display: inline-block;
    width: 20px;
    font-size: 15px;
  }

  #top-menu ul > li > a:hover > .flyer-item-inner {
    left: 0;
  }
  #top-menu .dropdown-menu > li > a{
    padding: 5px;
    margin: 10px 20px;
  }
  .navbar {
    border-radius: 0;
    border: none;
  }
  #top-menu.navbar-inverse {
    background: none;
    z-index: 2;
    transition: margin-top .3s ease-out;
  }
  #top-menu.navbar-hidden-top{
    margin-top: -60px;
  }
  body.fixed-top.expanding{
    padding-top: 0;
  }
  #top-menu.navbar-inverse.navbar-fixed-top{
    margin-top:0;
  }
  #top-menu #mainmenu{
    padding: 0;
  }
  #top-menu .flyer-expanding-icon-holder {
    display: none;
  }
  .flyer-header-expanding #top-menu .flyer-expanding-icon-holder{
    margin-right:0;
    display: block;
  }
  #top-menu .navbar-brand {
    padding: 0;
    height: 54px;
    width: 54px;
    overflow: hidden;
    background-color: #222;
  }
  .flyer-header-expanding #top-menu .navbar-brand{
    height: 84px;
    width: 84px;
  }
  #top-menu .navbar-brand img{
    padding: 0;
    height: 54px;
    width: 54px;
  }
  .flyer-header-expanding #top-menu .navbar-brand img{
    padding: 0;
    height: 84px;
    width: 84px;
  }
  #top-menu #mainmenu .menu-spacer-after {
    padding-right: 20px;
  }
  .flyer-header-expanding #top-menu .navbar-nav > li > a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .flyer-header-expanding #top-menu .navbar-nav > li > a.flyer-search-opener {
    padding-top: 31px;
    padding-bottom: 31px;
  }
  #top-menu .navbar-nav > li > a {
    padding-top: 17px;
    padding-bottom: 17px;
    margin: 0 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow: hidden;
  }
  #top-menu .navbar-nav > div > a {
    padding-top: 31px;
    padding-bottom: 31px;
    display: block;
  }
  #top-menu .navbar-nav > div > a.flyer-menu-appear,#top-menu .navbar-nav > div > a.flyer-menu-appear:hover ,#top-menu .navbar-nav > div > a.flyer-menu-appear:active {
    padding: 31px 31px 31px 31px;
    background-color: #222;
  }
  #top-menu .menu-expand-bkg {
    width: 100%;
    height: 54px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    -webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
    background-color: #222;
  }
  .flyer-header-expanding #top-menu .menu-expand-bkg {
    width: 0;
    height: 84px;
  }
  .flyer-header-expanding #top-menu .border-right{
    border-right: 1px solid #9d9d9d;
  }
  #top-menu.flyer-opened .menu-expand-bkg {
    width: 100%;
  }

  .flyer-header-expanding #top-menu .menu-hide{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
  }
  #top-menu.flyer-opened .menu-hide {
    opacity: 1;
    visibility: visible;
  }

  .flyer-header-expanding #top-menu .flyer-menu-appear .flyer-expanding-icon,#top-menu .navbar-toggle .flyer-expanding-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 13px;
    width: 18px;
  }

  #top-menu.navbar-inverse .navbar-nav > .active > a, #top-menu.navbar-inverse .navbar-nav > .active > a:hover, #top-menu.navbar-inverse .navbar-nav > .active > a:focus {
    background: none;
  }
  .flyer-header-expanding #top-menu .flyer-menu-appear .flyer-line {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #303030;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
  }

  .flyer-header-expanding #top-menu .flyer-menu-appear .flyer-line:first-child {
    top: 0;
    transform-origin: 2px 1px;
  }

  .flyer-header-expanding #top-menu .flyer-menu-appear .flyer-line:last-child {
    top: 10px;
    transform-origin: 2px 1px;
  }

  .flyer-header-expanding #top-menu.flyer-opened .flyer-menu-appear .flyer-line:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .flyer-header-expanding #top-menu.flyer-opened .flyer-menu-appear .flyer-line:nth-child(2) {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  .flyer-header-expanding #top-menu.flyer-opened .flyer-menu-appear .flyer-line:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #top-menu .flyer-line {
    background-color: #fff !important;
  }



  .container-fluid > .navbar-header {
    margin-left: 15px;
  }
  #top-menu .container-fluid{
    padding: 0;
  }
  .flyer-header-expanding .cnt{
    position: absolute;
    top:0;
  }
  .flyer-search-cover{
    position: absolute;
    width: 100%;
  }
  .flyer-search-cover .flyer-form-holder-outer {
    display: table;
    width: 100%;
  }
  .flyer-search-cover .flyer-form-holder {
    display: table-cell;
    padding: 16px 22px 0 22px;
    position: relative;
  }
  .flyer-header-expanding .flyer-search-cover .flyer-form-holder {
    padding: 31px 45px 0 45px;
  }
  .flyer-search-cover .flyer-form-holder-inner {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  .flyer-header-expanding .flyer-search-opener {
    font-size: 19px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .flyer-search-cover{
    margin: 0;
    padding: 0;
    background-color: #222;
    opacity: 0;
    -webkit-transition: -webkit-opacity .3s ease-out;
    transition: opacity .3s ease-out;
    visibility: hidden;
    z-index: 1;
  }
  .flyer-search-cover-opened{
    opacity: 1;
    visibility: visible;
  }
  .flyer-header-expanding .flyer-search-cover .flyer-search-submit-holder {
	  padding: 30px 30px 29px 30px;
  }
  .flyer-search-cover .flyer-search-submit-holder {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 14px;
    border-right: 1px solid #9d9d9d;
    width: 54px;
  }
  .flyer-search-cover button[type=submit] {
    padding: 0;
    border: none;
    background: 0 0;
    outline: 0;
    /*width: 54px;
    height: 54px;*/
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    transition: color .2s ease;
  }
  .flyer-search-cover input, .flyer-search-cover input:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    width: 90%;
    padding: 0;
    font-family: inherit;
    outline: 0;
    outline-offset: 0;
    -webkit-appearance: none;
    border-radius: 0;
    float: left;
    margin: 0;
  }

  .flyer-search-cover .flyer-search-close {
    font-size: 31px;
    /* position: absolute; */
    /* top: 50%; */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    /* transform: translateY(-50%); */
    line-height: 0.5em;
    color: #9d9d9d;
  }
  .flyer-search-cover .flyer-search-close:hover {
    text-decoration: none;
    color: #fff;
  }

}



#top-menu .navbar-toggle{
  border: 0;
  padding: 6px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: none;
}
#top-menu .navbar-brand > img {
  display: block;
  height: 50px;
  margin-top: 0;
}
#top-menu .navbar-brand {
  padding: 0;
}
#top-menu .navbar-toggle .flyer-expanding-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  width: 18px;
}

#top-menu.navbar-inverse .navbar-nav > .active > a, #top-menu.navbar-inverse .navbar-nav > .active > a:hover, #top-menu.navbar-inverse .navbar-nav > .active > a:focus {
  background: none;
}
#top-menu .navbar-toggle .flyer-expanding-icon .flyer-line {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #303030;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
}

#top-menu .navbar-toggle .flyer-expanding-icon .flyer-line:first-child {
  top: 0;
  transform-origin: 2px 1px;
}

#top-menu .navbar-toggle .flyer-expanding-icon .flyer-line:last-child {
  top: 10px;
  transform-origin: 2px 1px;
}

.flyer-header-expanding #top-menu.flyer-opened .flyer-menu-appear .flyer-line:first-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.flyer-header-expanding #top-menu.flyer-opened .flyer-menu-appear .flyer-line:nth-child(2) {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}

.flyer-header-expanding #top-menu.flyer-opened .flyer-menu-appear .flyer-line:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#top-menu .flyer-line {
  background-color: #fff !important;
}


/* BOXES */

.boxItem {
  position: relative;
  margin-bottom: 30px;
}
a:hover img {
  opacity: .6;
}
.boxItem a:hover{
  text-decoration: none;
}

/* BOX EVENT */
.Event .supText{
  font-size: 11px;
}
.Event .text-muted {
  color: #ccc;
}
.Event .list_title{
  margin-top: 10px;
  font-size: 20px;
  color: #FFF;
}
.Event:hover .box-list{
  opacity: 1;
}
.Event .box-list{
  pointer-events: none;
  position: absolute;
  top:0;
  background-color: #333;
  height: 100%;
  opacity: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}
.Event .box-list .text-center{
  padding: 30px;
}

.Event .read-more-box{
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #333;
  padding-bottom: 16px;
  font-size: 20px;
  color: #FFF;
}


/* BOX WEB */
.Web .box-list > div:last-child {
  margin-top: 10px;
  margin-bottom: 0;
}
.Web .text-muted {
  color: #ccc;
}
.Web .supText{
  font-size: 11px;
}
.Web .list_title {
  margin-top: 0;
  font-size: 20px;
}
.Web a{
  color: #FFF;
}
.Web a:hover{
  opacity: .7;
}
.Web .box-list{
  background-color: #333;
  padding: 30px;
}

.Web .read-more-box{
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #333;
  padding-bottom: 16px;
  font-size: 20px;
  color: #FFF;
}

/* BOX LEARNING */
.Learning .box-list > div:last-child {
  margin-top: 10px;
  margin-bottom: 0;
}
.Learning .supText{
  font-size: 11px;
}
.Learning .list_title {
  margin-top: 0;
  font-size: 20px;
}
.Learning a{
  color: #FFF;
}
.Learning a:hover{
  opacity: .7;
}
.Learning .box-list{
  background-color: #333;
  padding: 30px;
}

.Learning .read-more-box{
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #333;
  padding-bottom: 16px;
  font-size: 20px;
  color: #FFF;
}

/* BOX LAB */

.Lab .list_title {
  margin-top: 0;
}

/* BOX AWARDS */

.Award .img-circle {
  width: 140px;
  background-color: #EEE;
}
.Award h3 {
  font-size: 20px;
}


/* HOME */
.home section{
  padding: 50px 0;
}
.home section header{
  padding-bottom: 30px;
}

.home-services{
}
.home-events{
  background-color: #EEE;
}
.home-lab{
}
.home-web{
  background-color: #EEE;
}
.home-learning{
  position: relative;
  background-color: #000;
  color: #FFF;
}
.home-learning .text-muted {
  color: #ccc;
}
.home-learning:before {
  content: ' ';
  display: block;
  position: absolute;
  background-repeat:  no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  opacity: .2;
  height: 100%;
  width: 100%;
  background-image: url(http://flyer.it/files/2016/12/profile-learning.jpg);
}
.home-awards img{
  width: 140px;
}
.home .read-more,#container > .read-more{
  margin-top: 20px;
}
.home .read-more a:hover,#container > .read-more a:hover{
  text-decoration: none;
}
.read-more a {
  display: inline-block;
  padding: 8px 15px;
  border: 2px solid #DDD;
  background-color: #FFF;
}
.read-more a:hover {
  background-color: #000;
}
#container > .read-more .loading{
  display: none;
}






.addtoany_share_save_container,.addtoany_list{display: none}
.entry-title{
  margin-top: 0;
}
.list_title a:hover{
  text-decoration: none;
}

.flyer-item-inner i{
  padding-right: 5px;
}
.navbar {
  margin-bottom: 0;
  border: none;
}
.rientro{
  overflow: hidden;
}
.rientro img{
  max-width: 100%;
  height: auto;
}
.main-image{
  margin-bottom: 30px;
}
footer.navbar-inverse{
  margin:20px 0 0 0;
  padding: 15px 0;
  color: #FFF;
}


/* PAGE DETAIL */

.Subpage .container-fluid .row:before {
  content: ' ';
  display: block;
  position: absolute;
  background-repeat:  no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  opacity: .6;
  height: 100%;
  width: 100%;
}
.header {
  padding: 50px 0;
}
.Subpage .container-fluid .row {
  background-color: #000;
  color: #FFF;
  position: relative;
  margin-bottom: 50px;
}
.pagepaddingtop {
  padding-top: 20px;
}
.tagandcount{
  white-space: nowrap;
}

.play-cnt .fa-play{
  width: 50px;
  height: 50px;
  position: absolute;
  color: white;
  font-size: 54px;
  top: -25px;
  left: -25px;
}

.play-cnt {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
}

ul.row.thumbnails{
  list-style: none;
  padding: 0;
}
.gallType{
  position: absolute;
  bottom: 0;
  right: 0;
}
ul.row.thumbnails .cntGallImgOver{
  display: block;
  position: relative;
}
.cntGallImgOver img{
  max-width: 100%;
}
.thumbnail .cntDida{text-align: center;height: 25px;padding-top: 5px;display: block;overflow: hidden;}
