@media (min-width: 768px){
  .carousel {
    height: 100vh;
    width: 100%;
    overflow:hidden;
  }
  .carousel .carousel-inner {
    height:100%;
  }

  .carousel .carousel-inner img {
    display:block;
    object-fit: cover;
  }
  #top-menu ul > li > a {
    overflow: hidden;
  }
  #top-menu ul > li > a > .flyer-item-inner {
    position: relative;
    display: inline-block;
    left: -20px;
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
  }
  #top-menu ul > li > a > .flyer-item-inner > i {
    display: inline-block;
    width: 20px;
    font-size: 15px;
  }

  #top-menu ul > li > a:hover > .flyer-item-inner {
    left: 0;
  }
  #top-menu .dropdown-menu > li > a{
    padding: 5px;
    margin: 10px 20px;
  }




  .navbar {
    border-radius: 0;
  }
  #top-menu.navbar-inverse {
    background: none;
    border: none;
    z-index: 2;
    transition: margin-top .3s ease-out;
  }
  #top-menu.navbar-hidden-top{
    margin-top: -60px;
  }
  body.fixed-top{
    padding-top: 75px;
  }
  body.fixed-top.expanding{
    padding-top: 0;
  }
  #top-menu.navbar-inverse.navbar-fixed-top{
    margin-top:0px;
  }
  #top-menu #mainmenu{
    padding: 0;
  }
  #top-menu .flyer-expanding-icon-holder {
    display: none;
  }
  .flyer-header-expanding #top-menu .flyer-expanding-icon-holder{
    margin-right:0;
    display: block;
  }
  #top-menu .navbar-brand {
    padding: 0;
    height: 54px;
    width: 54px;
    overflow: hidden;
    background-color: #222;
  }
  .flyer-header-expanding #top-menu .navbar-brand{
    height: 84px;
    width: 84px;
  }
  #top-menu .navbar-brand img{
    padding: 0;
    height: 54px;
    width: 54px;
  }
  .flyer-header-expanding #top-menu .navbar-brand img{
    padding: 0;
    height: 84px;
    width: 84px;
  }
  #top-menu #mainmenu .menu-spacer-after {
    padding-right: 20px;
  }
  .flyer-header-expanding #top-menu .navbar-nav > li > a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .flyer-header-expanding #top-menu .navbar-nav > li > a.flyer-search-opener {
    padding-top: 31px;
    padding-bottom: 31px;
  }
  #top-menu .navbar-nav > li > a {
    padding-top: 17px;
    padding-bottom: 17px;
    margin: 0 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow: hidden;
  }
  #top-menu .navbar-nav > div > a {
    padding-top: 31px;
    padding-bottom: 31px;
    display: block;
  }
  #top-menu .navbar-nav > div > a.flyer-menu-appear,#top-menu .navbar-nav > div > a.flyer-menu-appear:hover ,#top-menu .navbar-nav > div > a.flyer-menu-appear:active {
    padding: 32px 33px 33px 33px;
    background-color: #222;
  }
  #top-menu .menu-expand-bkg {
    width: 100%;
    height: 54px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    -webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
    background-color: #222;
  }
  .flyer-header-expanding #top-menu .menu-expand-bkg {
    width: 0;
    height: 84px;
  }
  .flyer-header-expanding #top-menu .border-right{
    border-right: 1px solid #9d9d9d;
  }
  #top-menu.flyer-opened .menu-expand-bkg {
    width: 100%;
  }

  .flyer-header-expanding #top-menu .menu-hide{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
  }
  #top-menu.flyer-opened .menu-hide {
    opacity: 1;
    visibility: visible;
  }

  .flyer-header-expanding #top-menu .flyer-menu-appear .flyer-expanding-icon,#top-menu .navbar-toggle .flyer-expanding-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 13px;
    width: 18px;
  }

  #top-menu.navbar-inverse .navbar-nav > .active > a, #top-menu.navbar-inverse .navbar-nav > .active > a:hover, #top-menu.navbar-inverse .navbar-nav > .active > a:focus {
    background: none;
  }
  .flyer-header-expanding #top-menu .flyer-menu-appear .flyer-line {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #303030;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
  }

  .flyer-header-expanding #top-menu .flyer-menu-appear .flyer-line:first-child {
    top: 0;
    transform-origin: 2px 1px;
  }

  .flyer-header-expanding #top-menu .flyer-menu-appear .flyer-line:last-child {
    top: 10px;
    transform-origin: 2px 1px;
  }

  .flyer-header-expanding #top-menu.flyer-opened .flyer-menu-appear .flyer-line:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .flyer-header-expanding #top-menu.flyer-opened .flyer-menu-appear .flyer-line:nth-child(2) {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  .flyer-header-expanding #top-menu.flyer-opened .flyer-menu-appear .flyer-line:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #top-menu .flyer-line {
    background-color: #fff !important;
  }



.container-fluid > .navbar-header {
  margin-left: 15px;
}
#top-menu .container-fluid{
  padding: 0;
}
.flyer-header-expanding .cnt{
  position: absolute;
  top:0;
}
  .flyer-search-cover{
    position: absolute;
    width: 100%;
  }
  .flyer-search-cover .flyer-form-holder-outer {
    display: table;
    width: 100%;
  }
  .flyer-search-cover .flyer-form-holder {
    display: table-cell;
    padding: 16px 22px 0 22px;
    position: relative;
  }
  .flyer-header-expanding .flyer-search-cover .flyer-form-holder {
    padding: 31px 45px 0 45px;
  }
  .flyer-search-cover .flyer-form-holder-inner {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  .flyer-header-expanding .flyer-search-opener {
    font-size: 19px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .flyer-search-cover{
    margin: 0;
    padding: 0;
    background-color: #222;
    opacity: 0;
    -webkit-transition: -webkit-opacity .3s ease-out;
    transition: opacity .3s ease-out;
    visibility: hidden;
  }
  .flyer-search-cover-opened{
    opacity: 1;
    visibility: visible;
  }
  .flyer-header-expanding .flyer-search-cover .flyer-search-submit-holder {
	  padding: 30px 30px 29px 30px;
  }
  .flyer-search-cover .flyer-search-submit-holder {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 14px;
    border-right: 1px solid #9d9d9d;
    width: 54px;
  }
  .flyer-search-cover button[type=submit] {
    padding: 0;
    border: none;
    background: 0 0;
    outline: 0;
    /*width: 54px;
    height: 54px;*/
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    transition: color .2s ease;
  }
  .flyer-search-cover input, .flyer-search-cover input:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    width: 90%;
    padding: 0;
    font-family: inherit;
    outline: 0;
    outline-offset: 0;
    -webkit-appearance: none;
    border-radius: 0;
    float: left;
    margin: 0;
  }

  .flyer-search-cover .flyer-search-close {
    font-size: 31px;
    /* position: absolute; */
    /* top: 50%; */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    /* transform: translateY(-50%); */
    line-height: 0.5em;
    color: #9d9d9d;
  }
  .flyer-search-cover .flyer-search-close:hover {
    text-decoration: none;
    color: #fff;
  }

  footer.navbar-inverse{
    margin:20px 0 0 0;
    padding: 15px 0;
    color: #FFF;
  }
}




#top-menu .navbar-toggle{
  border: 0;
  padding: 6px 10px;
  margin-top: 9px;
  margin-bottom: 10px;
}
#top-menu .navbar-brand > img {
  display: block;
  height: 50px;
  margin-top: 0;
}
#top-menu .navbar-brand {
  padding: 0;
}
#top-menu .navbar-toggle .flyer-expanding-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  width: 18px;
}

#top-menu.navbar-inverse .navbar-nav > .active > a, #top-menu.navbar-inverse .navbar-nav > .active > a:hover, #top-menu.navbar-inverse .navbar-nav > .active > a:focus {
  background: none;
}
#top-menu .navbar-toggle .flyer-expanding-icon .flyer-line {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #303030;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
}

#top-menu .navbar-toggle .flyer-expanding-icon .flyer-line:first-child {
  top: 0;
  transform-origin: 2px 1px;
}

#top-menu .navbar-toggle .flyer-expanding-icon .flyer-line:last-child {
  top: 10px;
  transform-origin: 2px 1px;
}

.flyer-header-expanding #top-menu.flyer-opened .flyer-menu-appear .flyer-line:first-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.flyer-header-expanding #top-menu.flyer-opened .flyer-menu-appear .flyer-line:nth-child(2) {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}

.flyer-header-expanding #top-menu.flyer-opened .flyer-menu-appear .flyer-line:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#top-menu .flyer-line {
  background-color: #fff !important;
}


.modal-header{
  position: fixed;
  width: 100%;
}

.modal-body{
  overflow-x: scroll;
  height: 100%;
  position: absolute;
  padding: 15px 15px 61px 15px;
  margin-top: 56px;
}
.modal-open .modal{
  overflow-x: initial;
  overflow-y: initial;
}
.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 100%;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}
.modal-backdrop.in {
  opacity: 0.95;
  filter: alpha(opacity=95);
}



.addtoany_share_save_container,.addtoany_list{display: none}
.entry-title{
  margin-top: 0;
}
.event_list_title a:hover{
  text-decoration: none;
}

/* BOX VIDEO */
.boxItem {
  position: relative;
}
.Event .supText{
  font-size: 11px;
}
.event_list_title{
  margin-top: 10px;
}
.Event {
  margin-bottom: 30px;
}
.Event:hover .box-list{
  opacity: 1;
}
.Event .tags{
  line-height: 1.6;
}
.Event .box-list{
  position: absolute;
  top:0;
  background-color: #F5F5F5;
  height: 100%;
  opacity: 0;
  width: 100%;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}
.Event .box-list .text-center{
  padding: 30px;
}

.Event .read-more a:hover{
  text-decoration: none;
}
.Event .read-more{
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: #F5F5F5;
  padding-bottom: 32px;
}

/* HOME */
.home section{
  padding: 50px 0;
}
.home-services{
}
.home-events{
  background-color: #EEE;
}
.home-lab{
}
.home-lab h3{
  margin-top: 0;
}
.home-web{
  background-color: #EEE;
}
.home-learning{
  background-color: #999999;
}
.home-learning h3{
  margin-top: 0;
}
.home-awards img{
  width: 100px;
}
.home .read-more,#container > .read-more{
  margin-top: 20px;
}
.home .read-more a:hover,#container > .read-more a:hover{
  text-decoration: none;
}
.read-more a{
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #DDD;
}
#container > .read-more .loading{
  display: none;
}
