.boxItem(itemscope, itemtype='http://schema.org/itemListElement')
  .News(itemscope, itemtype='http://schema.org/Event')
    .thumb-cnt
      a.ajaxloader(itemprop='url', href='/extra/'+result.slug+"/", rel='bookmark', title!=result.post_title)
        img.img-responsive(src=result.featured.thumbnail, alt!=global.__('Image for')+': '+result.post_title, itemprop='image', itemscope, itemtype='https://schema.org/ImageObject')
    .box-list
      .box-list-cnt
        .text-muted
          include ../../_common/inc_eventdate
        h3.list_title(itemprop='name')
          a.ajaxloader(itemprop='url', href='/extra/'+result.slug+"/", rel='bookmark', title=result.post_title)!=result.post_title
        .text-muted.small.excerpt
          if result.excerpt && result.excerpt.rendered
            div(itemprop='headline')
              p!=result.excerpt.rendered
