.boxItem(itemscope, itemtype='http://schema.org/itemListElement')
  .Event(itemscope, itemtype='http://schema.org/Event')
    .thumb-cnt
      .thumb-cnt-cnt
        //.catlabel=result.type
        a.ajaxloader(itemprop='url', href='/events/'+result.slug+"/", rel='bookmark', title!=result.post_title)
          img.img-responsive(src=result.featured.thumbnail, alt!=global.__('Image for')+': '+result.post_title, itemprop='image', itemscope, itemtype='https://schema.org/ImageObject')
    .box-list
      .text-center
        .text-muted.supText
          include ../../_common/inc_eventdateplace
        h3.list_title(itemprop='name')!=result.post_title.replace(" | ","<br />")
      .read-more-box
        .sr-only=__("Read more")
        i.icon-right