extends layout
block content
  - var itemtype
  - //console.log("indexOf")
  - //console.log(meta_data.url.indexOf("/artists/"))
  - //console.log(meta_data.url.length-9)
  - if (meta_data.url.indexOf("/performances/")>0) {
  -    itemtype = 'http://schema.org/CreativeWork'
  - } else if (meta_data.url.indexOf("/artists/")<meta_data.url.length-9) {
  -    itemtype = 'http://schema.org/Person'
  - } else if (meta_data.url.indexOf("/artists/")==meta_data.url.length-9) {
  -    itemtype = 'http://schema.org/ItemList'
  - }
  article#container(itemprop='performer', itemscope, itemtype=itemtype)
    header
      h1.entry-title
        span.pull-left(itemprop="name")=result.post_title
        span.pull-right
          include ../_common/inc_share_span
    !=result.post_content