extends layout
block content
	article#container(itemprop='performer', itemscope, itemtype='http://schema.org/ItemList')
		header
			h1.entry-title(itemprop='performer')=result.post_title
		!=result.post_content

