extends layout
block content
  article#container(itemprop="owns", itemscope, itemtype='http://schema.org/ItemList')
    header
      h1.entry-title
        span.pull-left(itemprop="name")=global.__("Editions")
        span.pull-right
          include ../_common/inc_share_span
    .row.isotope
      each result, position in results
        .col-md-4.col-sm-6.col.isotopeitem
          //pre=JSON.stringify(box)
          include boxes/box_edition