extends layout
block content
  article#container(itemscope, itemtype='http://schema.org/ItemList')
    header
      h1.entry-title
          span.pull-left(itemprop="name")=posttype.post_title
          span.pull-right
            include ../_common/inc_share_span
    .row.isotope.results
      each result, position in results
        .col-md-4.col-sm-6.col.isotopeitem
          include boxes/box_event
    include ../_common/inc_pagination