extends layout
block content
  article.pagepaddingtop#container(itemscope, itemtype='http://schema.org/Article')
    .row(itemprop='mainEntityOfPage')
      .col-sm-9
        header(itemprop="headline")
          h1.entry-title(itemprop='name')=result.post_title+" "
        .rientro
          include ../_common/inc_type_hidden
          .text-right
            include ../_common/inc_datemonth
            br
          div(itemprop='description')!=result.post_content
          .row
            .col-md-6
              include ../_common/inc_capauthors
            .col-md-6
              include ../_common/inc_websites
          include ../_common/inc_share
      .col-sm-3(itemprop='image', itemscope, itemtype="http://schema.org/ImageObject")
        img.img-responsive.main-image(src=result.featured.thumbnail, alt=result.post_title, itemprop='url')
        meta(itemprop="width" content="1280")
        meta(itemprop="height" content="720")