extends layout
block content
	.container
		article.pagepaddingtop#container(itemscope, itemtype='http://schema.org/Article')
			.row
				.col-sm-9
					header
						h1.entry-title(itemprop='name')=result.post_title
					.rientro
						include ../_common/inc_type_hidden
						include ../_common/inc_datemonth
						div(itemprop='description')!=result.post_content
						.row
							.col-md-6
								include ../_common/inc_capauthors
							.col-md-6
								include ../_common/inc_websites
						include ../_common/inc_share
				.col-sm-3
					img.img-responsive.main-image(src=result.featured.thumbnail, alt=result.post_title, itemprop='image')
