extends layout
block content
  article(itemscope, itemtype='http://schema.org/'+itemtype)
    .row
      .col-sm-9
        header
          h1.entry-title
            span.pull-left(itemprop="name")=result.post_title
            span.pull-right
              include ../_common/inc_share_span
        .rientro
          div(itemprop='description')!=result.post_content
          include ../_common/inc_docs_large
          .dateModified(itemprop='dateModified', content=result.date)=result.dateModifiedHR
      .col-sm-3
        img.img-responsive.wp-post-image(src=result.featured.thumbnail, alt!=result.post_title, itemprop='image')

