extends layout
block content
	article(itemscope, itemtype='http://schema.org/'+itemtype)
		.row
			.col-sm-9
				header
					h1.entry-title(itemprop='name')!=result.post_title
				.rientro
					div(itemprop='description')!=result.post_content
					.dateModified(itemprop='dateModified', content=result.date)=result.dateHR
					br
					include ../_common/inc_share
			.col-sm-3
				img.img-responsive.wp-post-image(src=result.featured.thumbnail, alt!=result.post_title, itemprop='image')

