extends layout
block content
  article#container(itemscope, itemtype='http://schema.org/' + itemtype)
    header.hidden
      h1.entry-title(itemprop="name")=result.post_title
    .rientro
      div(itemprop='description')!=result.post_content
      .dateModified.hidden(itemprop='dateModified', content=result.date)=result.dateModifiedHR
    #map-canvas(style="height:700px;margin-top:10px;")
    script(type="text/javascript").
      var markers = !{JSON.stringify(markers)};
    script(type="text/javascript", src='/' + config.prefix + '/js/map.js')