extends layout
block content
	article(itemscope, itemtype='http://schema.org/'+itemtype)
		header
			h1.entry-title(itemprop='name')!=result.post_title
		!=result.post_content
		br
		include ../common/inc_share
