extends layout
block content
  article#container(itemscope, itemtype='http://schema.org/ItemList')
    header
      h1.entry-title
        span.pull-left(itemprop="name")=title
        span.pull-right
          include ../_common/inc_share_span
    .row.isotope.results
      each result, position in results
        .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.isotopeitem(itemscope, itemprop='itemListElement')
          include boxes/box_user