footer a:hover {
  color:#EC1B45;
}
.header {
  padding: 20px 0 50px 0;
}
.main-image{
  margin-bottom: 30px;
}
.entry-title{
  margin-top: 0;
}
.box-list i {
  display: none;
}
.navbar-brand>img {
  height: 41px;
}
.entry-title.boxItem{
  font-size: 24px;
}
.home-title{
  margin:0;
  padding: 20px;
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
  color: #FFF;
}
.home-col-1,.home-col-2,.home-col-3{
  padding: 20px;
  height: 100%;
}
.home-col-1 {
  background-color: #FFF;
  margin:0 -15px 0 0;
}

.home-col-2 {
  background-color: #f7f7f7;
  margin:0 -15px 0 -15px;
}

.home-col-3 {
  background-color: #eaeaea;
  margin:0 0 0 -15px;
}
footer .media-object{
  height: 50px;
  margin-bottom: 20px;
}

#container{
  padding-top: 20px;
}


ul.lists {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.lists .itemListElement {
  position: relative;
  margin-bottom: 20px;
}
ul.lists .itemListElement .caption {
  position: absolute;
  pointer-events: none;
  color: #FFF;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0px;
  overflow: hidden;
}
ul.lists .itemListElement .caption .caption-body {
  position: absolute;
  bottom: 0;
  padding: 10px;
  text-shadow: 0 2px 4px black;
}
ul.lists .itemListElement .caption .caption-body .caption-title {
  font-size: 21px;
  margin-top: 0;
}
/* BOX EVENT */
.Event .supText{
  font-size: 11px;
}
.Event .text-muted {
  color: #ccc;
}
.Event .list_title{
  margin-top: 10px;
  font-size: 20px;
  color: #FFF;
}
.Event:hover .box-list{
  opacity: 1;
}
.Event .box-list{
  pointer-events: none;
  position: absolute;
  top:0;
  background-color: #333;
  height: 100%;
  opacity: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}
.Event{
  margin-bottom:30px;
  position: relative;
}
.Event .box-list .text-center{
  padding: 30px;
}

.Event .read-more-box{
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #333;
  padding-bottom: 16px;
  font-size: 20px;
  color: #FFF;
}

/* BOX NEWS */
.News .box-list{
  padding: 10px;
}

/* BOX Exhibition */
.Activity .box-list {
  padding: 10px;
}


.home-col-1,.home-col-2,.home-col-3{
  padding: 20px;
  height: 100%;
}
.navbar-brand>img {
  height: 22px;
}

@media (min-width: 768px){
  body {
    padding-top: 70px;
  }
  .navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .home-col-1 {
    background-color: #FFF;
    margin:0 -15px 0 0;
  }
  .home-col-2 {
    background-color: #f7f7f7;
    margin:0 0 0 -15px;
  }
  .navbar-brand>img {
    height: 41px;
  }
}
@media (min-width: 1200px){
  .home-col-2 {
    background-color: #f7f7f7;
    margin:0 -15px 0 -15px;
  }
}


