a:hover, footer a:hover, .read-more.inverse a:hover {
  color:#73bd20;
}
footer .active a {
  color:#73bd20;
}

.logofooter {
  margin: -20px 0 -20px -25px;
}
footer .logofooter a:link,footer .logofooter a:visited,footer .logofooter a:active {
  color: #73bd20 !important;
  font-size: 80px;
}
footer .logofooter a:hover{
  color:#FFFFFF !important;
}

.header {
  padding: 20px 0 50px 0;
}
.main-image{
  margin-bottom: 30px;
}
.entry-title{
  margin-top: 0;
}
.box-list i {
  display: none;
}
#myHeader img {
  max-width: 400px;
  margin-bottom: 20px;
}


ul.lists {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.lists .itemListElement {
  position: relative;
  margin-bottom: 20px;
}
ul.lists .itemListElement .caption {
  position: absolute;
  pointer-events: none;
  color: #FFF;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0px;
  overflow: hidden;
}
ul.lists .itemListElement .caption .caption-body {
  position: absolute;
  bottom: 0;
  padding: 10px;
  text-shadow: 0 2px 4px black;
}
ul.lists .itemListElement .caption .caption-body .caption-title {
  font-size: 21px;
  margin-top: 0;
}
/* BOX EVENT */
.Event .supText{
  font-size: 11px;
}
.Event .text-muted {
  color: #ccc;
}
.Event .list_title{
  margin-top: 10px;
  font-size: 20px;
  color: #FFF;
}
.Event:hover .box-list{
  opacity: 1;
}
.Event .box-list{
  pointer-events: none;
  position: absolute;
  top:0;
  background-color: #333;
  height: 100%;
  opacity: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}
.Event{
  margin-bottom:30px;
  position: relative;
}
.Event .box-list .text-center{
  padding: 30px;
}

.Event .read-more-box{
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #333;
  padding-bottom: 16px;
  font-size: 20px;
  color: #FFF;
}

/* BOX NEWS */
.News .box-list{
  padding: 10px;
}

/* BOX Exhibition */
.Exhibition .box-list{
  padding: 15px;
  background-color: #EEE;
  margin-bottom: 30px;
}
